<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="bal"
            id="org.gap.eclipse.ballerina.bal"
            name="Ballerina File"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.gap.eclipse.ballerina.bal"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="org.gap.eclipse.ballerina.core.server.BallerinaStreamConnectionProvider"
            id="org.gap.eclipse.ballerina.ballerina"
            label="Ballerina Lanuage Server Client">
      </server>
      <contentTypeMapping
            contentType="org.gap.eclipse.ballerina.bal"
            id="org.gap.eclipse.ballerina.ballerina">
      </contentTypeMapping>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.gap.eclipse.ballerina.core.preference.BallerinaPreferencePage"
            id="org.gap.eclipse.ballerina.core.preference"
            name="Ballerina Preference">
      </page>
   </extension>



</plugin>
